# Домашнее задание «Функции и работа с данными»

### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [24]:
def head_line_by_line(f, lines=4):
    for i, line in enumerate(f):
        print(i, line.strip())

        if i > lines:
            break

In [5]:
with open('ratings.csv') as f:
    head_line_by_line(f)

0 userId,movieId,rating,timestamp
1 1,31,2.5,1260759144
2 1,1029,3.0,1260759179
3 1,1061,3.0,1260759182
4 1,1129,2.0,1260759185
5 1,1172,4.0,1260759205

In [19]:
import pandas as pd

df_ratings = pd.read_csv('ratings.csv', sep = ',', header=0)
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
'''
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг
'''
def classify(rating):
    if rating <= 2.0:
        return 'низкий рейтинг'
    elif rating < 4.5:
        return 'средний рейтинг'
    elif rating >= 4.5:
        return 'высокий рейтинг'
    
    return param == 0

In [21]:
df_ratings['class'] = df_ratings['rating'].apply(classify)
df_ratings

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

### Задание 2

Используем файл keywords.csv

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [27]:
with open('keywords.csv') as f:
    head_line_by_line(f, 10)

0 keyword,shows
1 вк,64292779
2 одноклассники,63810309
3 порно,41747114
4 ютуб,39995567
5 вконтакте,21014195
6 одноклассники моя страница,19976138
7 майл,15144673
8 авито,14786593
9 переводчик,14453469
10 яндекс,13344734
11 сбербанк онлайн,10725673

In [28]:
df_keywords = pd.read_csv('keywords.csv', sep = ',', header=0)
df_keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [31]:
df_keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   keyword  100000 non-null  object
 1   shows    100000 non-null  int64
 2   region   100000 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [44]:
def geo_classify(keyword_to_analysis, geo_data):
    for (region, cities) in geo_data.items():
        for city in cities:
            if (keyword_to_analysis.find(city) != -1):
                return region
            
    return 'undefined'

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

df_keywords['region'] = df_keywords['keyword'].apply(geo_classify, geo_data=geo_data)
df_keywords[df_keywords['region'] != 'undefined']

NameError: name 'region' is not defined