# Домашнее задание «Библиотека Pandas»

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. **Определите какому фильму было выставлено больше всего оценок 5.0.**

Markdown helper: https://www.earthdatascience.org/courses/intro-to-earth-data-science/file-formats/use-text-files/format-text-with-markdown-jupyter-notebook/

In [2]:
def head_line_by_line(f):
    for i, line in enumerate(f):
        print(i, line.strip())

        if i > 4:
            break

In [3]:
with open('./ml-latest-small/movies.csv') as f:
    head_line_by_line(f)

0 movieId,title,genres
1 1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2 2,Jumanji (1995),Adventure|Children|Fantasy
3 3,Grumpier Old Men (1995),Comedy|Romance
4 4,Waiting to Exhale (1995),Comedy|Drama|Romance
5 5,Father of the Bride Part II (1995),Comedy

In [4]:
with open('./ml-latest-small/ratings.csv') as f:
    head_line_by_line(f)

0 userId,movieId,rating,timestamp
1 1,1,4.0,964982703
2 1,3,4.0,964981247
3 1,6,4.0,964982224
4 1,47,5.0,964983815
5 1,50,5.0,964982931

In [5]:
with open('./ml-latest-small/tags.csv') as f:
    head_line_by_line(f)

0 userId,movieId,tag,timestamp
1 2,60756,funny,1445714994
2 2,60756,Highly quotable,1445714996
3 2,60756,will ferrell,1445714992
4 2,89774,Boxing story,1445715207
5 2,89774,MMA,1445715200

In [6]:
'''
How to read CSV File into Python using Pandas
https://towardsdatascience.com/how-to-read-csv-file-using-pandas-ab1f5e7e7b58

Pandas read_csv() tricks you should know to speed up your data analysis
https://towardsdatascience.com/all-the-pandas-read-csv-you-should-know-to-speed-up-your-data-analysis-1e16fe1039f3
'''
import pandas as pd

In [7]:
data_raiting = pd.read_csv('./ml-latest-small/ratings.csv', sep = ',', header=0)
data_raiting.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
'''
Analysis of an art survey using Pandas
https://towardsdatascience.com/analysis-of-an-art-survey-using-pandas-ea782c0d0691
'''
data_raiting.shape

(100836, 4)

In [9]:
data_raiting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [10]:
data_raiting.isnull().sum().any()

False

In [11]:
data_raiting.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [12]:
data_raiting.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [13]:
highest_rated_movies = data_raiting[data_raiting['rating'] == 5.0]
highest_rated_movies.head(5)

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [14]:
'''
Getting more value from the Pandas’ value_counts()
https://towardsdatascience.com/getting-more-value-from-the-pandas-value-counts-aa17230907a6

Valuable Data Analysis with Pandas Value Counts
https://towardsdatascience.com/valuable-data-analysis-with-pandas-value-counts-d87bbdf42f79
'''
highest_rated_movies_voices = highest_rated_movies['movieId'].value_counts(ascending=False).head(5)
highest_rated_movies_voices

318     153
296     123
356     116
2571    109
260     104
Name: movieId, dtype: int64

In [15]:
highest_rated_movieId = highest_rated_movies_voices.index[0]
highest_rated_movieId

318

In [16]:
data_movies = pd.read_csv('./ml-latest-small/movies.csv', sep = ',', header=0)
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
data_movies[data_movies['movieId'] == highest_rated_movieId]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [18]:
data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [19]:
data_power['country'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [23]:
def region(country):
    '''Объединение стран прибалтики'''
    
    if country in ['Latvia', 'Lithuania', 'Estonia']:
        return 'Прибалтика'
    
    return 'Другое'

In [26]:
data_power['region'] = data_power['country'].apply(region)

data_power[
    ((data_power['year'] >= 2005) &
    (data_power['year'] <= 2010)) &

    (data_power['region'] == 'Прибалтика') &

    ((data_power['category'] == 4) |
    (data_power['category'] == 12) |
    (data_power['category'] == 21)) &

    (data_power['quantity'] >= 0)
]['quantity'].sum()

240580.0

### Задание 3

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [21]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')

In [22]:
df[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1018267      -              1018253
 1          NaN            EUR/RUB       862795      -               862400
 2          NaN            USD/RUB       734640      -               734575
 3          NaN            JPY/RUB        06654      -                06650
 4          NaN            CNY/RUB       113464      -               113332
 5          NaN            CHF/RUB       796998      -               796939
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11744      -                11742
 8          NaN            EUR/GBP        08474      -                08467
 9          NaN            EUR/JPY      1296800      -              1296400
 10         NaN            EUR/CHF        10828      -                10819
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08513      -                08516
 13         NaN            USD/GBP        07215      -                07211
 14         NaN            USD/JPY      1104050      -              1104300
 15         NaN            USD/CHF        09218      -                09215
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07700      -                07700
 18         NaN            JPY/GBP        00065      -                00065
 19         NaN            JPY/USD        00091      -                00091
 20         NaN    JPY/CHF (100:1)        08300      -                08300
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13859      -                13867
 23         NaN            GBP/JPY      1530297      -              1531319
 24         NaN            GBP/EUR        11802      -                11812
 25         NaN            GBP/CHF        12776      -                12779
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12776      -                12779
 28         NaN            EUR/CHF        10828      -                10819
 29         NaN    JPY/CHF (100:1)        08300      -                08300
 30         NaN            USD/CHF        09218      -                09215
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       314177      -               314171
 33         NaN            USD/UAH       267510      -               267550
 34         NaN            CHF/UAH       290141      -               290373
 35         NaN            GBP/UAH       370769      -               371012

           %  Абсолютное значение     Время
 0    0,00 %                00014  12:43:00
 1    0,05 %                00395  12:44:00
 2    0,01 %                00065  12:44:00
 3    0,07 %                00005  12:43:00
 4    0,12 %                00132  12:43:00
 5    0,01 %                00060  12:43:00
 6         %  Абсолютное значение     Время
 7    0,02 %                00002  12:44:00
 8    0,08 %                00007  12:44:00
 9    0,03 %                00400  12:44:00
 10   0,08 %                00009  12:44:00
 11        %  Абсолютное значение     Время
 12  -0,03 %               -00003  12:43:00
 13   0,04 %                00003  12:43:00
 14  -0,02 %               -00250  12:44:00
 15   0,03 %                00003  12:44:00
 16        %  Абсолютное значение     Время
 17  -0,01 %                00000  12:43:00
 18   0,07 %                00000  12:43:00
 19   0,02 %                00000  12:43:00
 20   0,05 %                00000  12:43:00
 21        %  Абсолютное значение     Время
 22  -0,06 %               -00008  12:43:00
 23  -0,07 %               -01023  12:43:00
 24  -0,08 %               -00010  12:43:00
 25  -0,03 %               -00004  12:43:00
 26        %  Абсолютное значение     Время
 27  -0,03 %               -00004  12:43:00
 28   0,08 %                00009  12:44:00
 29   0,05 %                00000  12:43:00
 30   0,03 %                00003  12:44:00
 31        %  Абсолютное значение     Время
 32   0,00 %                00007  12:43:00
 33  -0,02 %               -00040  12:43:00
 34  -0,08 %               -00232  12:43:00
 35  -0,07 %               -00243  12:43:00  ]